*
!.SRCINFO
!.gitignore
!.nvchecker.toml
!PKGBUILD
!keydb-5.0-use-system-jemalloc.patch
!keydb-sentinel.service
!keydb.conf-sane-defaults.patch
!keydb.install
!keydb.service
!keydb.sysusers
!keydb.tmpfiles
