*
!.SRCINFO
!.gitignore
!24-bit-color.patch
!7-bit-queries.patch
!PKGBUILD
!enable-wide-glyphs.patch
!improve-font-rendering.patch
!keyboard-select
!lines-rewrap.patch
!resize-font
!urxvt-tabbed.desktop
!urxvt.desktop
!urxvtc.desktop
