*
!abseil-fix-missing-algorithm.patch
!abseil-remove-unused-targets.patch
!compiler-rt-adjust-paths.patch
!disable-logging.patch
!fetch-chromium-release
!fix-no-matching-strcat.patch
!fix-numeric_limits.patch
!fix-trust-store-segfault.patch
!fix-undeclared-isnan.patch
!.gitignore
!increase-fortify-level.patch
!PKGBUILD
!produce-abseil-patch
!.SRCINFO
