*
!.SRCINFO
!.gitignore
!PKGBUILD
!code-icons.hook
!code-icons.install
!com.visualstudio.code.png
!com.visualstudio.code.svg
!do.sh
!letterpress-dark.svg
!letterpress-hc.svg
!letterpress.svg
!undo.sh
