*
!.SRCINFO
!.gitignore
!PKGBUILD
!debian-php-7.4.patch
!icu-74-php-7.4.patch
!libxml-21200-php-7.0.patch
!libxml-pear.patch
!litespeed-phpheader.patch
!make-tests.patch
!mysql-socket-php7.1.patch
!openssl-sslv3-consts.patch
!pear-config-patcher.php
!php-apache.conf
!php-fpm.install
!php-libxml.patch
!php-makefile-patcher.php
!php-phpinfo.patch
!php74-enchant.patch
!timezonedb-guess.patch
!timezonedb-php7.4.patch
