*
!.SRCINFO
!.gitignore
!PKGBUILD
!aria2-system.service
!aria2-system.target
!aria2-tracker-update-system.service
!aria2-tracker-update-system.timer
!aria2-tracker-update-user.service
!aria2-tracker-update-user.timer
!aria2-user.service
!aria2-user.target
!aria2@.service
!aria2cd.hook
!notify-user-and-copy-config
!tracker-config.sh
!update-aria2-tracker
