*
!.SRCINFO
!.gitignore
!Kyocera ECOSYS M5521cdn.PPD
!Kyocera ECOSYS M5521cdw.PPD
!Kyocera ECOSYS M5526cdn.PPD
!Kyocera ECOSYS M5526cdw.PPD
!Kyocera ECOSYS P5021cdn.PPD
!Kyocera ECOSYS P5021cdw.PPD
!Kyocera ECOSYS P5026cdn.PPD
!Kyocera ECOSYS P5026cdw.PPD
!PKGBUILD
