*
!.SRCINFO
!.gitignore
!LICENSE
!LICENSE.sig
!PKGBUILD
!fix_unsafe_printf.patch
!fix_unsafe_printf.patch.sig
!zandronum-hg-server.launcher
!zandronum-hg-server.launcher.sig
!zandronum-hg.desktop
!zandronum-hg.desktop.sig
!zandronum-hg.install
!zandronum-hg.install.sig
!zandronum-hg.launcher
!zandronum-hg.launcher.sig
!zandronum-hg.png
!zandronum-hg.png.sig
