pkgbase = illogical-impulse-widgets-lite
	pkgdesc = Illogical Impulse Widget Dependencies (Lite version that doesnt lock you into certain dependencies)
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = dart-sass
	depends = python-pywayland
	depends = python-psutil

pkgname = illogical-impulse-widgets-lite
