*
!.SRCINFO
!.gitignore
!0001-Force-utf8-codeset.patch
!0002-Disable-unsupported-functions.patch
!0003-Disable-shm.patch
!0004-Fix-type-casting.patch
!0005-Added-missing-headers.patch
!0006-Fix-duplicate-case.patch
!0007-Unversioned-libs.patch
!PKGBUILD
