*
!.nvchecker.toml
!.gitignore
!libstroke-Makefile.am.patch
!PKGBUILD
!libstroke-0.5.1-stroke-c-string-header.patch
!libstroke-0.5.1-m4_syntax.patch
!.SRCINFO
!libstroke-0.5.1-no_gtk1.patch
!libgstroke-Makefile.am.patch
