*
!0006-Cancel-hold-gestures-instead-of-finishing-them.patch
!PKGBUILD
!.SRCINFO
!0004-Take-hold-gestures-and-clickpad-state-into-account.patch
!0007-Abort-TFD-within-50-ms-on-detection-of-4-fingers.patch
!0005-Debounce-for-4-fingers-before-drag-starts.patch
!.gitignore
!0001-Three-finger-dragging-TFD-state-machine.patch
!0002-Cleanup.patch
!0003-TFD-add-debounce-state-for-touch-count-decrease.patch
