*
!.SRCINFO
!.gitignore
!55-efi-key.hook
!60-dracut-remove.hook
!90-dracut-install.hook
!99-secureboot.conf
!PKGBUILD
!dracut-install
!dracut-remove
!dracut-sb.install
!efi-key
!efi-key.conf
!linuxx64.efi.stub
