*
!.SRCINFO
!.gitignore
!500_debian_fhs.patch
!500_debian_fhs.patch.sig
!PKGBUILD
!cryptokit-1.7-sks-uint32.patch
!cryptokit-1.7-sks-uint32.patch.sig
!debian_eventloopfix.patch
!debian_eventloopfix.patch.sig
!sks-1.1.6.tgz.sig
!sks-db-local.service
!sks-db-local.service.sig
!sks-local.install
!sks-recon-local.service
!sks-recon-local.service.sig
