*
!.SRCINFO
!.gitignore
!98-secureboot-linux-lts.hook
!98-secureboot-linux.hook
!99-secureboot-systemd.hook
!LICENSE
!PKGBUILD
!README.md
!README.zh.md
!secureboot-keygen
!secureboot-sign
!secureboot-write
