*
!.SRCINFO
!.gitignore
!PKGBUILD
!mongodb-4.4.1-boost.patch
!mongodb-4.4.1-gcc11.patch
!mongodb-4.4.10-boost-1.81.patch
!mongodb-5.0.2-boost-1.79.patch
!mongodb-5.0.2-fix-scons.patch
!mongodb-5.0.2-no-compass.patch
!mongodb-5.0.2-skip-no-exceptions.patch
!mongodb-5.0.2-skip-reqs-check.patch
!mongodb-5.0.5-no-force-lld.patch
!mongodb.sysusers
!mongodb.tmpfiles
