*
!.nvchecker.toml
!.gitignore
!solfege.install
!do-not-run-xmllint.patch
!itstool.patch
!PKGBUILD
!fix_css.patch
!fix_lilypond_eps_file_mismatch.patch
!rm-linux-headers-from-CFLAGS.patch
!reproducible-build.patch
!.SRCINFO
!hidden_menubar.patch
