*
!0010-asus-nb-wmi-fix-tablet_mode_sw_int.patch
!config
!0008-amd-tablet-sfh.patch
!chroot-build.sh
!0005-ACPI-resource-Skip-IRQ-override-on-ASUS-TUF-Gaming-A.patch
!0002-mt76_-mt7921_-Disable-powersave-features-by-default.patch
!0009-asus-nb-wmi-Add-tablet_mode_sw-lid-flip.patch
!PKGBUILD
!0011-Bluetooth-btusb-Add-2-USB-HW-IDs-for-MT7925-0xe118-e.patch
!.SRCINFO
!0006-mediatek-pci-reset.patch
!0007-workaround_hardware_decoding_amdgpu.patch
!.gitignore
!choose-gcc-optimization.sh
!0004-ACPI-resource-Skip-IRQ-override-on-ASUS-TUF-Gaming-A.patch
!0003-Bluetooth-btusb-Add-a-new-PID-VID-0489-e0f6-for-MT7922.patch
!0001-acpi-proc-idle-skip-dummy-wait.patch
