*
!.SRCINFO
!.gitignore
!PKGBUILD
!multiaccount.patch
!protonmail-nativefier-2.desktop
!protonmail-nativefier-3.desktop
!protonmail-nativefier-4.desktop
!protonmail-nativefier-5.desktop
!protonmail-nativefier.desktop
!protonmail-nativefier.png
