*
!.SRCINFO
!.gitignore
!001-fix-relocation.patch
!002-fix-forbidden-colon-in-paths.mingw.patch
!004-use-system-zlib.mingw.patch
!005-no-xc.mingw.patch
!006-proper-implib-name.mingw.patch
!007-install.mingw.patch
!008-tcl-8.5.14-hidden.patch
!009-fix-using-gnu-print.patch
!PKGBUILD
