*
!.SRCINFO
!.gitignore
!PKGBUILD
!command_pyroscope.cc
!ps-close_lowdisk_normal_all.patch
!ps-dl-ui-find_all.patch
!ps-import.return_all.patch
!ps-info-pane-is-default_all.patch
!ps-info-pane-xb-sizes_all.patch
!ps-issue-515_all.patch
!ps-item-stats-human-sizes_all.patch
!ps-log_messages_all.patch
!ps-object_std-map-serialization_all.patch
!ps-silent-catch_all.patch
!ps-ui_pyroscope_all.patch
!pyroscope.patch
!rt-avoid-stack-overflow-for-lockfile-buffer.patch
!rt-fix-critical-memory-leak.patch
!rt-fix-possible-crash-with-save_input_history.patch
!rt-fix-session-file-data-corruption.patch
!ui_pyroscope.cc
!ui_pyroscope.h
!ui_pyroscope.patch
