*
!.SRCINFO
!.gitignore
!0001-nl_langinfo.mingw32.patch
!197416.all.patch
!217602.all.patch
!278402-manpage.all.patch
!318833.all.patch
!356669.all.patch
!367153-manpage.all.patch
!PKGBUILD
!get-w32-console-maxcols.mingw32.patch
!no-uid-stuff-on.mingw32.patch
