*
!.SRCINFO
!.gitignore
!ChangeLog
!PKGBUILD
!add-stubdom-fixes.patch
!efi-xen.cfg
!tmpfiles.conf
!vtpm-gcc12-fixes.patch
!xen-amd-ucode.hook
!xen-intel-ucode.hook
!xen-ucode-extract.sh
!xen.conf
!xen.install
