*
!.SRCINFO
!.gitignore
!0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
!0002-linux-doc-sphinx-7.2.patch
!0002-skip-simpledrm-if-nvidia-drm.modeset=1-is.patch
!0003-Default-to-maximum-amount-of-ASLR-bits.patch
!0005-fix-doc-build.patch
!PKGBUILD
!bnx2x_warpcore+8727_2_5g_sgmii_arch.patch
!config
!update.sh
