*
!.SRCINFO
!.gitignore
!PKGBUILD
!wazuh-agent-4.7.2-1.aarch64.rpm.sig
!wazuh-agent-4.7.2-1.x86_64.rpm.sig
!wazuh-agent-4.7.3-1.aarch64.rpm.sig
!wazuh-agent-4.7.3-1.x86_64.rpm.sig
!wazuh-agent-4.7.4-1.aarch64.rpm.asc
!wazuh-agent-4.7.4-1.x86_64.rpm.asc
!wazuh-agent-4.8.0-1.aarch64.rpm.sig
!wazuh-agent-4.8.0-1.x86_64.rpm.sig
!wazuh-agent.install
