*
!.SRCINFO
!.gitignore
!PKGBUILD
!rsnapshot-daily@.service
!rsnapshot-daily@.timer
!rsnapshot-hourly@.service
!rsnapshot-hourly@.timer
!rsnapshot-monthly@.service
!rsnapshot-monthly@.timer
!rsnapshot-weekly@.service
!rsnapshot-weekly@.timer
