*
!.SRCINFO
!.gitignore
!2096779623.gpg
!PKGBUILD
!agnostic-apollo.gpg
!grimler.gpg
!kcubeterm.gpg
!landfillbaby.gpg
!mradityaalok.gpg
!termux-autobuilds.gpg
!termux-keyring.install
!termux-pacman.gpg
