*
!netbird-management.service
!netbird-management.env
!netbird.env
!netbird-signal.service
!PKGBUILD
!netbird@.service
!.SRCINFO
!.gitignore
!netbird-relay.env
!netbird-signal.env
!environment
!netbird-relay.service
