*
!.SRCINFO
!.gitignore
!PKGBUILD
!cc.deb.PKGBUILD
!monitor.install
!override.conf
!skyrepo.PKGBUILD
!skywire-ar.service
!skywire-autoconfig
!skywire-autoconfig.service
!skywire-dmsg.service
!skywire-dmsgd.service
!skywire-monitor.service
!skywire-rf.service
!skywire-sd.service
!skywire-sn.service
!skywire-tpd.service
!skywire.desktop
!skywire.install
!skywire.png
!skywire.service
!skywirevpn.desktop
!skywirevpn.png
!test.sh
!test1.sh
!updates.sh
