pkgbase = github-desktop-bin
	pkgdesc = GUI for managing Git and GitHub.
	pkgver = 3.4.3_linux1
	pkgrel = 1
	url = https://desktop.github.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	depends = curl
	depends = git
	depends = libsecret
	depends = libxss
	depends = nspr
	depends = nss
	depends = org.freedesktop.secrets
	depends = unzip
	optdepends = hub: CLI interface for GitHub.
	provides = github-desktop
	conflicts = github-desktop
	source = github-desktop.desktop
	sha256sums = 932e4c456e8c6db03d27172cf0daa37806bf025bb560d8b3d758c0997d1a618c
	source_x86_64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.3-linux1/GitHubDesktop-linux-amd64-3.4.3-linux1.deb
	sha256sums_x86_64 = e2c8aa0ee4f67b1d12e96080fef4dd342b0fd7aa619ead158f1e48cd5123c238
	source_aarch64 = https://github.com/shiftkey/desktop/releases/download/release-3.4.3-linux1/GitHubDesktop-linux-arm64-3.4.3-linux1.deb
	sha256sums_aarch64 = da070a8379dda95cceb6c2a331fde7d33d56feee31de647e334435d34c6cfb22
	source_armv7h = https://github.com/shiftkey/desktop/releases/download/release-3.4.3-linux1/GitHubDesktop-linux-armhf-3.4.3-linux1.deb
	sha256sums_armv7h = 44b85e5a3fdb1c575b6ee6101f45c97680554f143add2dec330104575e10468b

pkgname = github-desktop-bin
