*
!.SRCINFO
!.gitignore
!PKGBUILD
!dovecot-2.3.14-opensslv3.patch
!dovecot.ld.so.conf
!dovecot.pam
!dovecot.sysusersd
!dovecot.tmpfilesd
!keys/pgp/2BE74AAB3EE754DFB9C80D3318A348AEED409DA1.asc
!keys/pgp/E643F0BDFDCD04D9FFCB6279C948525140558AC9.asc
