*
!.SRCINFO
!.gitignore
!PKGBUILD
!README.md
!alternate-dns.conf
!blockaid-public-dns.conf
!censurfridns.conf
!chaos-computer-club-berlin.conf
!christoph-hochstatter.conf
!claranet.conf
!comodo-secure-dns.conf
!dns-advantage.conf
!dns.watch.conf
!dnsreactor.conf
!dyn.conf
!fdn.conf
!foebud.conf
!fooldns.conf
!freedns.conf
!freenom-world.conf
!german-privacy-foundation-ev.conf
!google-public-dns.conf
!greenteamdns.conf
!hurricane-electric.conf
!level3.conf
!neustar-dns-advantage.conf
!new-nations.conf
!norton-dns.conf
!opendns.conf
!opennic.conf
!powerns.conf
!puntcat.conf
!quad9.conf
!safedns.conf
!skydns.conf
!smartviper-public-dns.conf
!validom.conf
!verisign.conf
!xiala.net.conf
!yandex.dns.conf
