*
!.SRCINFO
!.gitignore
!.nvchecker.toml
!PKGBUILD
!firefox-developer-edition-firefox-symlink.hook
!firefox-developer-edition-firefox-symlink.install
!firefox-developer-edition-firefox-symlinks-create.bash
!firefox-developer-edition-firefox-symlinks-delete.bash
!license-metapackage-pd.txt
