*
!.SRCINFO
!.gitignore
!PKGBUILD
!barnyard2-1.13-Werror.patch
!barnyard2-1.13-free.patch
!barnyard2-1.13-libdir.patch
!barnyard2-1.13-my_bool.patch
!barnyard2-1.13-odbc.patch
!barnyard2-1.13-pcap-1.9.0.patch
!barnyard2.service
