*
!.SRCINFO
!.gitignore
!PKGBUILD
!assistant-qt4.desktop
!designer-qt4.desktop
!disable-sslv3.patch
!fix_jit.patch
!glib-honor-ExcludeSocketNotifiers-flag.diff
!improve-cups-support.patch
!kde4-settings.patch
!kubuntu_14_systemtrayicon.diff
!l-qclipboard_delay.patch
!l-qclipboard_fix_recursive.patch
!linguist-qt4.desktop
!moc-boost-workaround.patch
!qdbusviewer-qt4.desktop
!qt4-gcc11.patch
!qt4-gcc6.patch
!qt4-gcc8.patch
!qt4-gcc9.patch
!qt4-glibc-2.25.patch
!qt4-icu59.patch
!qt4-openssl-1.1.patch
!qtconfig-qt4.desktop
