*
!.SRCINFO
!.gitignore
!120-nvidia-settings-change-desktop-paths.patch
!PKGBUILD
!nvidia-drm-outputclass.conf
!nvidia-utils.install
!nvidia-utils.sysusers
!nvidia.rules
!systemd-homed-override.conf
!systemd-suspend-override.conf
