*
!.SRCINFO
!.gitignore
!.nvchecker.toml
!60-rfkill.rules
!PKGBUILD
!keys/pgp/B0C64D14301CC6EFAEDF60E4E4B71D5EEC39C284.asc
!pam-common
!pam-login
!pam-remote
!pam-runuser
!pam-su
!rfkill-block_.service
!rfkill-unblock_.service
!util-linux-BSD-2-Clause.txt
!util-linux.sysusers
