*
!.SRCINFO
!.gitignore
!24-bit-color.patch
!7-bit-queries.patch
!PKGBUILD
!clear.patch
!cursorstyle.patch
!enable-wide-glyphs.patch
!improve-font-rendering.patch
!keyboard-select
!noinc.diff
!perl-5.38.patch
!popup-menu-hang.diff
!resize-font
!searchable-scrollback-color.patch
!secondaryWheel.patch
!starttop.patch
!urxvt.desktop
!urxvtc.desktop
