*
!citrix-client.install
!citrix-configmgr.desktop
!citrix-conncenter.desktop
!citrix-wfica.desktop
!citrix-workspace.desktop
!ctxcwalogd.service
!ctxusbd.service
!.gitignore
!PKGBUILD
!.SRCINFO
!wfica_assoc.sh
!wfica.sh
