*
!.SRCINFO
!.gitignore
!PKGBUILD
!ente-server-configurable-delete-object-delay.patch
!ente-server-man.1.md
!ente-server-nginx.conf
!ente-server-sysusers.conf
!ente-server-tmpfiles.conf
!ente-server.service
!ente-server.yaml
!http_security_headers.conf
!https_security_headers.conf
!minio-server-nginx.conf
!usr.bin.ente-server
