*
!.SRCINFO
!.gitignore
!0001-adjust-buffer-format-order.patch
!0001-enable-linux-unstable-deb-target.patch
!0001-ozone-wayland-implement-text_input_manager-fixes.patch
!0001-ozone-wayland-implement-text_input_manager_v3.patch
!0001-vaapi-flag-ozone-wayland.patch
!LICENSE
!PKGBUILD
!add-feature-to-allow-zero-copy-video-formats.patch
!allow-ANGLEImplementation-kVulkan.patch
!chromium-browser-ui-missing-deps.patch
!chromium-drirc-disable-10bpc-color-configs.conf
!compiler-rt-adjust-paths.patch
!drop-flag-unsupported-by-clang17.patch
!fetch-chromium-release
!fix-ungoogled-third-party-re2.patch
!increase-fortify-level.patch
!ninja-out-of-order-generation-fix.patch
!p010-Zero-Copy-for-VA-API-Decoding-for-Vulkan.patch
!update-patches.sh
!use-oauth2-client-switches-as-default.patch
