*
!.SRCINFO
!.gitignore
!10-dracut-uefi-pre-install.hook
!60-dracut-uefi-remove.hook
!90-dracut-uefi-install.hook
!PKGBUILD
!dracut-uefi-hook.conf
!dracut-uefi-install
!dracut-uefi-pre-install
!dracut-uefi-remove
