pkgbase = tinygltf
	pkgdesc = Header only C++ tiny glTF library(loader/saver)
	pkgver = 2.9.2
	pkgrel = 1
	url = https://github.com/syoyo/tinygltf
	arch = any
	license = MIT
	source = tinygltf-2.9.2.tar.gz::https://github.com/syoyo/tinygltf/archive/refs/tags/v2.9.2.tar.gz
	sha256sums = b34d1456bb1d63bbb4e05ea1e4d8691d0253a03ef72385a8bffd2fae4b743feb

pkgname = tinygltf
