*
!.SRCINFO
!.gitignore
!010-fix-format-safety.patch
!020-fix-no-copy-dt-needed.patch
!035-remove-unused-ui-network-server-StatusJob-struct.patch
!040-desktop-fixes.patch
!050-only-include-glib.h.patch
!060-fix-libm-linking.patch
!PKGBUILD
