*
!.SRCINFO
!.gitignore
!PKGBUILD
!nextcloud-app-update-all.service
!nextcloud-app-update-all.timer
!nextcloud-files-scan-all.service
!nextcloud-files-scan-all.timer
!nextcloud-preview-generate-all.service
!nextcloud-preview-generate-all.timer
!nextcloud-preview-pre-generate.service
!nextcloud-preview-pre-generate.timer
!nextcloud-systemd-timers.install
