*
!.SRCINFO
!.gitignore
!PKGBUILD
!functions.sh
!gadget
!gadget-init.service
!gadget-init.sh
!gadget-start.service
!gadget-start.sh
!gadget.network
!sharenet.netdev
!sharenet.network
!systemd-gadget.install
!usbgadget-func-acm.service
!usbgadget-func-adb-post.service
!usbgadget-func-adb-pre.service
!usbgadget-func-ecm.service
!usbgadget-func-eem.service
!usbgadget-func-geth.service
!usbgadget-func-gser.service
!usbgadget-func-hid.service
!usbgadget-func-mass@.service
!usbgadget-func-midi.service
!usbgadget-func-ncm.service
!usbgadget-func-obex.service
!usbgadget-func-phonet.service
!usbgadget-func-printer.service
!usbgadget-func-rndis.service
!usbgadget-func-tcm.service
!usbgadget-func-uac1.service
!usbgadget-func-uac2.service
!usbgadget-func-uvc.service
