*
!.SRCINFO
!.gitignore
!PKGBUILD
!alternative-patch-to-replace-governor-selection-combobox-with-radio-selector-buttons.patch
!fix-governor-selection-combobox-definition-to-permit-correct-clickable-display.patch
!update-metadata-with-new-url-and-updated-description.patch
