*
!.SRCINFO
!.gitignore
!PKGBUILD
!fix-cli.sh
!fix-core.sh
!fix-menu.sh
!fix-other.sh
!fix-package-name.js
!logo.svg
!rebuild-node-modules.sh
!wechat-devtools
!wechat-devtools-cli
!wechat-devtools.desktop
!wxvpkg_pack.js
!wxvpkg_unpack.js
