*
!functions.sh
!.gitignore
!jd-container16.png
!jd-container22.png
!jd-container24.png
!jd-container256.png
!jd-container32.png
!jd-container48.png
!jd-containers.desktop
!JDownloader
!jdownloader16.png
!jdownloader22.png
!jdownloader24.png
!jdownloader256.png
!jdownloader32.png
!jdownloader48.png
!jdownloader.desktop
!JDownloaderHeadless
!JDownloaderHeadlessCleanLogin
!JDownloaderHeadlessCtl
!jdownloader.install
!jdownloader.service
!jdownloader.xml
!PKGBUILD
!.SRCINFO
