*
!.SRCINFO
!.gitignore
!PKGBUILD
!hivision-id-photos-api.env
!hivision-id-photos-api.service
!hivision-id-photos-api.sh
!hivision-id-photos-web.env
!hivision-id-photos-web.service
!hivision-id-photos-web.sh
!hivision-id-photos.sh
!hivision-id-photos.sysusers
