*
!0001-arch-dynamically-link-libpsl.patch
!0002-tcmalloc-hold-pageheap_lock-for-info-accessor.patch
!0003-stats-thread_local_cache-thread-safety.patch
!0004-disable-thread-safety-analysis-for-file-system-http.patch
!.gitignore
!PKGBUILD
!.SRCINFO
