*
!.SRCINFO
!.gitignore
!0001-implement-trackpoint-wheel-emulation.patch
!0004-disable-clickpad_guess_clickfingers.patch
!0006-add-synatics-files-into-Makefile.am.patch
!90-evdev-trackpoint.conf
!PKGBUILD
!xf86-input-evdev-trackpoint.install
