*
!.SRCINFO
!.editorconfig
!.gitignore
!PKGBUILD
!autogen.sh
!hebrew.diff
!jack_lsp-check.diff
!messages.pot
!r600.diff
!r602.diff
!selectwindowfix.diff
!translations1.diff
!translations2.diff
!typos.diff
