*
!.SRCINFO
!.gitignore
!PKGBUILD
!libva-vdpau-driver-0.7.4-CreateSurfaceFromV4L2Buf.patch
!libva-vdpau-driver-0.7.4-VAEncH264VUIBufferType.patch
!libva-vdpau-driver-0.7.4-glext-missing-definition.patch
!libva-vdpau-driver-0.7.4-libvdpau-0.8.patch
!libva-vdpau-driver-0.7.4-sigfpe-crash.patch
!libva-vdpau-driver-0.7.4-xwayland.patch
