*
!.SRCINFO
!.gitignore
!0001-Add-an-option-to-hide-messages-from-blocked-users-in.patch
!0002-Block-sponsored_messages.patch
!0003-Allow-downloading-and-copying-from-restricted-channels.patch
!101.patch
!326.patch
!333.patch
!334.patch
!335.patch
!337.patch
!PKGBUILD
!include.patch
!kf594.patch
!tg_owt-fix.patch
