*
!.gitignore
!paperless.target
!paperless-webserver.service
!paperless-consumer.service
!PKGBUILD
!paperless-task-queue.service
!paperless.sysusers
!paperless-scheduler.service
!paperless.install
!requirements.patch
!paperless.tmpfiles
!paperless.hook
!whoosh-intraword.patch
!.SRCINFO
!whoosh-filters.patch
