*
!.SRCINFO
!.gitignore
!128px_icon.png
!16px_icon.png
!20px_icon.png
!24px_icon.png
!256px_icon.png
!32px_icon.png
!36px_icon.png
!44px_icon.png
!48px_icon.png
!64px_icon.png
!96px_icon.png
!PKGBUILD
!londonlaw-setup.py
!londonlaw.desktop
