*
!.SRCINFO
!.gitignore
!PKGBUILD
!ioquake3-q3a-1.32-9.run.sig
!spearmint-0.6-data.tar.xz.sig
!spearmint-server.launcher
!spearmint-server.launcher.sig
!spearmint.desktop
!spearmint.desktop.sig
!spearmint.install
!spearmint.launcher
!spearmint.launcher.sig
!spearmint.service
!spearmint.service.sig
