*
!.SRCINFO
!.gitignore
!0001-adjust-buffer-format-order.patch
!0001-enable-linux-unstable-deb-target.patch
!0001-ozone-wayland-implement-text_input_manager-fixes.patch
!0001-ozone-wayland-implement-text_input_manager_v3.patch
!0001-vaapi-flag-ozone-wayland.patch
!PKGBUILD
!angle-wayland-include-protocol.patch
!chromium-icu72.patch
!compiler-rt-adjust-paths.patch
!drop-flag-unsupported-by-clang17.patch
!fetch-chromium-release
!fix-a-missing-build-dependency.patch
!index.html
!ninja-out-of-order-generation-fix.patch
!no-omnibox-suggestion-autocomplete.patch
!support-ICU-74-in-LazyTextBreakIterator.patch
!update-patches.sh
!use-oauth2-client-switches-as-default.patch
!xdg-basedir.patch
