*
!.SRCINFO
!.gitignore
!1-2-Bluetooth-btusb-Add-Mediatek-MT7921-support-for-Foxconn.patch
!2-2-Bluetooth-btusb-Add-Mediatek-MT7921-support-for-IMC-Network.patch
!9001-v5.16.11-s0ix-patch-2022-02-23.patch
!Bluetooth-Read-codec-capabilities-only-if-supported.patch
!Bluetooth-btintel-Fix-bdaddress-comparison-with-garb.patch
!Bluetooth-btusb-Add-support-for-Foxconn-Mediatek-Chip.patch
!Bluetooth-btusb-Add-support-for-IMC-Networks-Mediatek-Chip-MT7921.patch
!Bluetooth-btusb-Add-support-for-IMC-Networks-Mediatek-Chip.patch
!Bluetooth-fix-deadlock-for-RFCOMM-sk-state-change.patch
!CONFIG_RCU_FAST_NO_HZ-removal-for-v5.17.patch
!HID-asus-Reduce-object-size-by-consolidating-calls.patch
!HID-asus-wmi-ROG-x13-flow-tablet-mode-support.patch
!PKGBUILD
!Parallel-boot-v4-on-5.16.5.patch
!README.md
!Revert-XANMOD-fair-Remove-all-energy-efficiency-functions.patch
!acpi-battery-Always-read-fresh-battery-state-on-update.patch
!af_unix-Replace-unix_table_lock-with-per-hash-locks.patch
!btrfs-fix-autodefrag-on-5.16.9.patch
!capture_stb.sh
!cfg80211-dont-WARN-if-a-self-managed-device.patch
!choose-gcc-optimization.sh
!cpufreq-CPPC-Fix-performance-frequency-conversion.patch
!fs-allow-cross-vfsmount-reflink-dedupe.patch
!implement-threaded-console-printing.patch
!mt76-mt7921-enable-VO-tx-aggregation.patch
!mt76-mt7921e-fix-possible-probe-failure-after-reboot.patch
!platform-x86-asus-wmi-Fix-regression-when-probing-for-fan-curve-control.patch
!udp-ipv6-optimisations-v2-net-next.patch
!v16-asus-wmi-Add-support-for-custom-fan-curves.patch
!xanmod-rog-config
!xor-enable-auto-vectorization-in-Clang.patch
