*
!.SRCINFO
!.gitignore
!PKGBUILD
!README.md
!appconfig.prod.json
!hide-scrollbar.patch
!index.js
!index.js.in
!lichesslogowhite.svg
!lichobile-electron.desktop
!native-stockfish.patch
!preload.js
!run.sh
!toast.patch
