*
!.SRCINFO
!.gitignore
!PKGBUILD
!getpasswd.c
!linuxpba-arch
!linuxpba.conf.etc
!linuxpba.hook
!linuxpba.install
!mkinitcpio.conf.etc
!mkinitcpio.conf.lib
!mklinuxpba-diskimg
!mklinuxpba-initramfs
!sedutil.install
!syslinux.cfg
