*
!.SRCINFO
!.gitignore
!.nvchecker.toml
!0001-Disable-replaced-tools-their-man-pages-and-PAM-integ.patch
!0002-Adapt-login.defs-for-PAM-and-util-linux.patch
!0003-Add-Arch-Linux-defaults-for-login.defs.patch
!PKGBUILD
!keys/pgp/66D0387DB85D320F8408166DB175CFA98F192AF2.asc
!keys/pgp/A9348594CE31283A826FBDD8D57633D441E25BB5.asc
!shadow.service
!shadow.sysusers
!shadow.timer
!shadow.tmpfiles
!useradd.defaults
