*
!.SRCINFO
!.gitignore
!040-ffmpeg-add-av_stream_get_first_dts-for-chromium.patch
!050-ffmpeg-fix-segfault-with-avisynthplus.patch
!060-ffmpeg-fix-nvidia-vulkan-decoding-segfault.patch
!LICENSE
!PKGBUILD
