*
!.SRCINFO
!.gitignore
!PKGBUILD
!accinj64.pc
!cublas.pc
!cuda.install
!cuda.pc
!cudart.pc
!cufft.pc
!cufftw.pc
!cuinj64.pc
!curand.pc
!cusolver.pc
!cusparse.pc
!nppc.pc
!nppi.pc
!nppial.pc
!nppicc.pc
!nppicom.pc
!nppidei.pc
!nppif.pc
!nppig.pc
!nppim.pc
!nppist.pc
!nppisu.pc
!nppitc.pc
!npps.pc
!nvToolsExt.pc
!nvgraph.pc
!nvidia-ml.pc
!nvjpeg.pc
!nvrtc.pc
