*
!.SRCINFO
!.gitignore
!PKGBUILD
!make-tests.patch
!pear-config-patcher.php
!php-apache.conf
!php-fpm.install
!php-makefile-patcher.php
!php-phpinfo.patch
!timezonedb-guess.patch
!timezonedb-php8.4.patch
