*
!.SRCINFO
!.gitignore
!0001-Disable-gssapi.patch
!0002-Remove-setpwent.patch
!0003-Remove-strchr.patch
!0004-Dont-read-PEM-keys.patch
!0005-Add-missing-headers.patch
!0006-Remove-endpwent.patch
!0008-Fix-ncurses-headers.patch
!PKGBUILD
