*
!.nvchecker.toml
!.gitignore
!0001-Remove-t-from-the-list-of-required-AS-tags.patch
!PKGBUILD
!openarc.tmpfiles
!openarc.service
!openarc-headerdebug.patch
!configure.ac.patch
!openarc.sysusers
!.SRCINFO
