pkgbase = pyinstaller-hooks-contrib
	pkgdesc = Community maintained hooks for PyInstaller
	pkgver = 2024.9
	pkgrel = 1
	url = https://github.com/pyinstaller/pyinstaller-hooks-contrib
	arch = any
	license = Apache-2.0 OR GPL-2.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = pyinstaller-hooks-contrib-2024.9.tar.gz::https://github.com/pyinstaller/pyinstaller-hooks-contrib/archive/refs/tags/v2024.9.tar.gz
	sha256sums = 606dd5e38d0af795a25f121f208c944745356aefe6894ad561b7c37c85539971

pkgname = pyinstaller-hooks-contrib
