[Desktop Entry]
Name=MCreator
Exec=/usr/bin/mcreator
Terminal=false
Type=Application
Icon=mcreator
StartupWMClass=MCreator
Comment=Make Minecraft Java Edition mods, Bedrock Edition Add-Ons, and data packs using visual graphical programming or integrated IDE
Categories=Development;IDE;