*
!CMakeLists.txt
!wechat.env
!wechat-uos-qt.desktop
!open.sh
!wechat-uos-qt.svg
!PKGBUILD
!license.tar.gz
!.SRCINFO
!keyBlocker.cpp
!.gitignore
!user-dirs.dirs
!mimeapps.list
!flatpak-info
!wechat.sh
