*
!ceph-13.2.2-dont-install-sysvinit-script.patch
!ceph-17.2.4-pybind-unmock-cythonize.patch
!ceph-17.2.4-test-bluefs-split.patch
!ceph-17.2.4-tox-flake8-git-ls-files.patch
!ceph-17.2.5-fix-iterator-depreciations.patch
!ceph-17.2.5-logrotate-ignore-dups.patch
!ceph-17.2.5-rgw-client-boost-string-view.patch
!ceph-17.2.6-cython-fixes.patch
!ceph-17.2.6-mgr-dashboard-cherrypy-18.patch
!ceph-17.2.6-mgr-dashboard-pylint-217.patch
!ceph-18.2.0-backport-log-runway-expansion.patch
!ceph-18.2.0-fix-ecode-shec-test.patch
!ceph-18.2.0-fmt10-fixes.patch
!ceph-18.2.2-backport-ceph-volume-unbound-var.patch
!ceph-18.2.2-disable-mypy-flake8-tests.patch
!ceph-18.2.2-gcc-14-fixes.patch
!ceph-18.2.2-mgr-alias-ceph-bcrypt.patch
!ceph-18.2.2-py312-fixes.patch
!ceph-18.2.2-std-atomic-depreciations.patch
!ceph-18.2.2-test-mempool-shard-select-disable.patch
!ceph-18.2.4-boost-1.86-fixes.patch
!ceph-18.2.4-fmt-formatter-const.patch
!ceph-disable-empty-readable.sh-test.patch
!ceph.sudoers
!ceph.sysusers
!.gitattributes
!.gitignore
!justfile
!PKGBUILD
!python-bcrypt-allow-subinterpreters.patch
!python-bcrypt-prefix-ceph.patch
!scripts.gh-upload-artifact.sh
!.SRCINFO
