*
!.SRCINFO
!.gitignore
!0001-use-namespace.mingw.patch
!0002-printf.mingw.patch
!0003-no-undefined-on.mingw.patch
!0004-reloc.mingw.patch
!0005-w32-home.all.patch
!0006-abort.mingw.patch
!0007-fix-including-langinfo.patch
!PKGBUILD
