*
!.SRCINFO
!.gitignore
!PKGBUILD
!elasticsearch-keystore.service
!elasticsearch-keystore@.service
!elasticsearch-sysctl.conf
!elasticsearch-tmpfile.conf
!elasticsearch-user.conf
!elasticsearch.default
!elasticsearch.service
!elasticsearch@.service
