*
!doctor.patch
!flutter-common.install
!flutter.sh
!.gitignore
!gradle-user-home.patch
!no-lock.patch
!no-runtime-download.patch
!opt-in-analytics.patch
!PKGBUILD
!.SRCINFO
!system-dart.patch
!update-artifact-versions.sh
!version.patch
