*
!.SRCINFO
!.editorconfig
!.gitignore
!PKGBUILD
!config.patch
!ergochat.sysusers
!ergochat.tmpfiles
!generate-config-patch.sh
!generate-systemd-service-unit-patch.sh
!install
!systemd-service-unit.patch
