*
!.SRCINFO
!.gitignore
!PKGBUILD
!gcc-13.patch
!mkinitcpio-pba.conf
!mkinitcpio-rescue.conf
!sedutil-mkimg.sh
!sedutil-pba.hook
!sedutil-pba.install
!sedutil-rescue.hook
!sedutil-rescue.install
!sedutil-sleep.conf
!sedutil-sleep.service
!sedutil.install
!show_asterisk.patch
!syslinux-pba.cfg
!syslinux-rescue.cfg
