*
!0001-Fix-HTTP-query-in-web-interface-fixes-954.patch
!_create_package.sh
!cups-2.4.0-statedir.patch
!cups-freebind.patch
!cups.install
!cups.logrotate
!cups.pam
!cups.sysusers
!_docker_validate.sh
!.gitignore
!guid.patch
!.nvchecker.toml
!_patch.sed
!PKGBUILD
!_README.md
!.SRCINFO
