*
!.SRCINFO
!.gitignore
!001-use_distribution_environment.patch
!002-fix_fsl_exec_empty_errorCode.patch
!002-fix_meldata_usage_of_ifstream.patch
!003-fix_fsl_exec_empty_errorCode.patch
!003-fix_missing_LIB_PROB.patch
!004-fix_missing_LIB_PROB.patch
!004-fix_mist_discard.patch
!005-fix_cuda_thrust_include.patch
!006-compile_ptx2_without_std-c++11.patch
!PKGBUILD
!buildSettings.mk
!fsl_sub
!fslinstaller.py
!imcp
!imglob
!immv
