*
!.SRCINFO
!.gitignore
!PKGBUILD
!config-sample.ini.patch
!copy-trilium.sh.patch
!package.json.patch
!trilium-dumpdb.sh
!trilium-server.logrotate
!trilium-server.service
!trilium-server.sh
!trilium-server.sysusers
!trilium-server.tmpfiles
!trilium.desktop
!trilium.sh
