*
!extrapatch-sconstruct.patch
!.gitignore
!mongodb-4.4.29-no-enterprise.patch
!mongodb-5.0.2-no-compass.patch
!mongodb-5.0.2-skip-reqs-check.patch
!mongodb-7.0.14-system-boost.patch
!mongodb-7.0.2-sconstruct.patch
!mongodb.sysusers
!mongodb.tmpfiles
!PKGBUILD
!.SRCINFO
