pkgbase = cd-memo
	pkgdesc = Enhanced cd that memorizes your working directory across sessions
	pkgver = oct2024v2
	pkgrel = 2
	url = https://github.com/BlackFuffey/cd-memo
	arch = any
	license = MIT
	depends = bash
	source = cd-memo
	source = cd-memo-init
	source = README.md
	source = LICENSE

pkgname = cd-memo
