*
!.SRCINFO
!.gitignore
!PKGBUILD
!current_version
!inochi-creator-bin-128x128.png
!inochi-creator-bin-16x16.png
!inochi-creator-bin-256x256.png
!inochi-creator-bin-32x32.png
!inochi-creator-bin-512x512.png
!inochi-creator-bin-64x64.png
!inochi-creator-bin.desktop
!inochi-creator-bin.xml
!update_package
