*
!.SRCINFO
!.gitignore
!PKGBUILD
!debian-php-8.1.patch
!libxml-21200-php-8.0.patch
!libxml-pear.patch
!make-tests.patch
!pear-config-patcher.php
!php-apache.conf
!php-fpm.install
!php-makefile-patcher.php
!php-phpinfo.patch
!timezonedb-guess.patch
!timezonedb-php8.1.patch
