*
!.SRCINFO
!.gitignore
!PKGBUILD
!autoptr2uniqueptr.patch
!bombono-dvd.install
!fix_c++11_literal_warnings.patch
!fix_deprecated_boost_api.patch
!fix_ffmpeg30.patch
!fix_ffmpeg5.patch
!fix_ffmpeg_codecid.patch
!fix_operator_ambiguity.patch
!fix_ptr2bool_cast.patch
!fix_throw_specifications.patch
!inc_boost_header.patch
