*
!.SRCINFO
!.gitignore
!.shellcheckrc
!.travis.yml
!PKGBUILD
!hdf5_18_api.patch
!libxml.patch
!scilab-0004-Fix-build-with-ocaml-4.0.4.patch
!scilab-LD_LIBRARY_PATH.patch
!scilab-jogl-2.3.2.patch
!scilab-num.patch
!scilab-strict-jar.patch
