*
!forgiving_utf8.h
!.gitignore
!infekt-gtk_fix_cmake_gtk.patch
!infekt-gtk_fix_cmake_main.patch
!infekt-gtk_fix_nfo_colormap_h.patch
!infekt-gtk_fix_nfo_data_cpp.patch
!infekt-gtk_fix_nfo_renderer_cpp.patch
!infekt-gtk_fix_nfo_renderer_h.patch
!infekt-gtk_fix_nfo_view_ctrl_cpp.patch
!infekt-gtk_fix_nfo_view_ctrl_h.patch
!infekt-gtk_fix_util_h.patch
!PKGBUILD
!.SRCINFO
