*
!.SRCINFO
!.editorconfig
!.gitignore
!.nvchecker.toml
!PKGBUILD
!patches__app__main.js.patch-execute
!signal-desktop-fix-sway-patch.sh
!signal-desktop-fix-sway-unpatch.sh
!signal-desktop-fix-sway.hook
!signal-desktop-fix-sway.install
