*
!.SRCINFO
!.gitignore
!PKGBUILD
!libquicktime-1.2.4-CVE-2016-2399.patch
!libquicktime-1.2.4-CVE-2017-9122_et_al.patch
!libquicktime-1.2.4-faad2.patch
!libquicktime-1.2.4-ffmpeg-codecs.patch
!libquicktime-1.2.4-ffmpeg2.patch
!libquicktime-1.2.4-ffmpeg29.patch
!libquicktime-1.2.4-ffmpeg4.patch
!libquicktime-1.2.4-ffmpeg5.patch
!libquicktime-1.2.4-libavutil.patch
