*
!.SRCINFO
!.gitignore
!0001-Use-Arch-Linux-device-access-groups.patch
!20-systemd-sysusers.hook
!30-systemd-binfmt.hook
!30-systemd-catalog.hook
!30-systemd-daemon-reload-system.hook
!30-systemd-daemon-reload-user.hook
!30-systemd-hwdb.hook
!30-systemd-sysctl.hook
!30-systemd-tmpfiles.hook
!30-systemd-udev-reload.hook
!30-systemd-update.hook
!PKGBUILD
!arch.conf
!loader.conf
!systemd-hook
!systemd-user.pam
!systemd.install
