*
!avoid-change-default-texthtml-mime-type.patch
!deezer
!deezer.desktop
!fix-isDev-usage.patch
!.gitignore
!PKGBUILD
!quit.patch
!remove-kernel-version-from-user-agent.patch
!.SRCINFO
!start-hidden-in-tray.patch
