*
!.SRCINFO
!.gitignore
!PKGBUILD
!glibc-2.31.patch
!hpn-banner.patch
!hpn-revert-default-port-2222.patch
!hpn14v22-globals-cleanup.patch
!hpnssh-agent.service
!hpnsshd.service
!hpnsshdgenkeys.service
!openssh-hpn-shim.install
!openssh-hpn.install
!openssh-tests-scp.patch
!openssl11.patch
!ssh-agent.service
!sshd.conf
!sshd.pam
!sshd.service
!sshdgenkeys.service
