*
!.SRCINFO
!.gitignore
!HP-DeskJet_1000C-pnm2ppa.ppd
!HP-DeskJet_710C-pnm2ppa.ppd
!HP-DeskJet_712C-pnm2ppa.ppd
!HP-DeskJet_720C-pnm2ppa.ppd
!HP-DeskJet_722C-pnm2ppa.ppd
!HP-DeskJet_820C-pnm2ppa.ppd
!PKGBUILD
!missing-static.patch
