*
!.SRCINFO
!.gitignore
!PKGBUILD
!gradle.properties
!java8-openjfx-CVE-2021-3517-fix.patch
!java8-openjfx-CVE-2021-3522-fix.patch
!java8-openjfx-fix-java-version-check.patch
!java8-openjfx-flags.patch
!java8-openjfx-include-iterator.patch
!java8-openjfx-no-check-jfxrt-jar.patch
!java8-openjfx-no-sys-sysctl.patch
!java8-openjfx-no-xlocale.patch
