*
!.gitignore
!PKGBUILD
!sde-ldflags.patch
!cuda-component-build-targets.patch
!0001-Renaming-cupti_common.-to-papi_cupti_common.-to-avoi.patch
!alderlakex-support.patch
!0002-Adding-papi_cupti_common.c-and-papi_cupti_common.h.patch
!.SRCINFO
