*
!.SRCINFO
!.gitignore
!00-base.conf
!01-cmdline.conf
!10-fstab.conf
!20-plymouth.conf
!30-filesystems.conf
!40-resume_from_hibernate.conf
!50-brltty.conf
!60-dracut-remove.hook
!60-networking.conf
!70-nvdimm.conf
!80-qemu.conf
!90-bluetooth.conf
!90-dracut-install.hook
!PKGBUILD
!dracut-install.sh
!dracut-remove.sh
