*
!.SRCINFO
!.gitignore
!0001-Use-Arch-Linux-device-access-groups.patch
!0002_added_machine_id_firmware_option.patch
!20-systemd-sysusers.hook
!30-systemd-binfmt.hook
!30-systemd-catalog.hook
!30-systemd-daemon-reload-system.hook
!30-systemd-daemon-reload-user.hook
!30-systemd-hwdb.hook
!30-systemd-sysctl.hook
!30-systemd-tmpfiles.hook
!30-systemd-udev-reload.hook
!30-systemd-update.hook
!PKGBUILD
!arch.conf
!keys/pgp/5C251B5FC54EB2F80F407AAAC54CA336CFEB557E.asc
!keys/pgp/63CDA1E5D3FC22B998D20DD6327F26951A015CC4.asc
!keys/pgp/9A774DB5DB996C154EBBFBFDA0099A18E29326E1.asc
!keys/pgp/A9EA9081724FFAE0484C35A1A81CEA22BC8C7E2E.asc
!loader.conf
!splash-arch.bmp
!systemd-hook
!systemd-user.pam
!systemd.install
