*
!.SRCINFO
!.gitignore
!PKGBUILD
!PatchAppArmorPolicy
!XeroxOfficeQScript.patch
!service
!support.txt
!xerox-office-prtdrv-xhost-permissions.desktop
!xerox-office-prtdrv.install
!xerox-office-prtdrv.license
