*
!.SRCINFO
!.gitignore
!PKGBUILD
!cros-container-guest-tools.install
!cros-garcon-conditions.conf
!cros-garcon.hook
!cros-locale.sh
!cros-logind-override.conf
!cros-nopasswd.rules
!cros-resolved.conf
!mimeapps.list
