*
!configure_ac.patch
!dfxvideo_cfg_c.patch
!epsxe.desktop
!epsxe.install
!epsxe.png
!epsxe.sh
!.gitignore
!Makefile.patch
!pcsxr-fix-undefined-operations.patch
!peopsxgl_gpu_c.patch
!PKGBUILD
!.SRCINFO
