*
!.SRCINFO
!.gitignore
!LICENSE
!PKGBUILD
!README.md
!librewolf-cfg-comment-out-values.hook
!librewolf-cfg-comment-out-values.sh
!librewolf-cfg-uncomment-out-values.hook
!librewolf-cfg-uncomment-out-values.sh
