*
!.SRCINFO
!.gitignore
!PKGBUILD
!homegear-config.patch
!homegear-makefile.patch
!homegear-ssl-optional.patch
!homegear.install
!homegear.logrotate
!homegear.service
!homegear.sysusers
!homegear.tmpfiles
