*
!.SRCINFO
!.gitignore
!PKGBUILD
!cdio-includes.patch
!ffmpeg-2.8.1-libvpxenc-remove-some-unused-ctrl-id-mappings.patch
!ffmpeg-?-libx264-fix-compilation-with-x264-builds-ge-153.patch
!ffmpeg-clip-constants-used-with-shift-instructions-within-inline-assembly.patch
!include-samba-4.0.patch
!mplayer-vaapi.install
!subreader-fix-srt-parsing.patch
!tweak-desktop-file.patch
