*
!.SRCINFO
!.gitignore
!PKGBUILD
!fix-mng-version-cmake.patch
!libmng-1.0.10-mingw.patch
!libmng-1.0.9-dont-leak-zlib-streams.diff
!libmng-2.0.3-cmake-versioning.patch
!no-undefined.patch
!pkg-config-extra-flags.patch
