*
!.SRCINFO
!.gitignore
!99-archlinux.conf
!PKGBUILD
!keys/pgp/7168B983815A5EEF59A4ADFD2A3F414E736060BA.asc
!openssh-9.0p1-sshd_config.patch
!ssh-agent.service
!sshd.conf
!sshd.pam
!sshd.service
!sshdgenkeys.service
