pkgbase = sshp
	pkgdesc = Parallel SSH Executor
	pkgver = 1.1.3
	pkgrel = 4
	url = https://github.com/bahamas10/sshp
	arch = x86_64
	license = MIT
	depends = glibc
	source = sshp-1.1.3.tar.gz::https://github.com/bahamas10/sshp/archive/refs/tags/v1.1.3.tar.gz
	sha256sums = 363111da8c2f738d2d20d9df38bffcbe36dcad4a71a9bcf6cb1c015cc8771d57

pkgname = sshp
