*
!.SRCINFO
!.gitignore
!50-save-kernel-modules-pre.hook
!90-save-kernel-modules-post.hook
!PKGBUILD
!README
!cleanup
!post-hook
!pre-hook
!saved-kernel-modules.install
!saved-kernel-modules.service
!saved-kernel-modules.timer
