*
!.SRCINFO
!.gitignore
!0001-update-rules_apple.patch
!0002-delete-unused-com_google_protobuf_fixes.diff.patch
!0004-use-opencv4-headers.patch
!0005-add-arg-experimental_allow_proto3_optional-to-protoc.patch
!PKGBUILD
