*
!.SRCINFO
!.gitignore
!PKGBUILD
!ZZ-lto.sh.in
!buildenv_ext.conf
!cflags.conf
!cmake-flags.conf
!compress-param_max.conf
!cxxflags.conf
!debug-makeflags.conf
!destdirs_ext.conf
!graphite.sh.in
!ldflags.conf
!makeflags.conf
!optipng-exec.sh.in
!optipng.sh.in
!pgo.sh.in
!pkgopts-param_ext.conf
!pkgopts_ext.conf
!rice.sh.in
!svgo-exec.sh.in
!svgo.sh.in
!upx-exec.sh.in
!upx.sh.in
