*
!.SRCINFO
!.gitignore
!PKGBUILD
!README.freeswitch
!README.freeswitch.sig
!conf_log.freeswitch
!conf_log.freeswitch.sig
!ffmpeg7-fix.patch
!ffmpeg7-fix.patch.sig
!fix-zmq-url.patch
!fix-zmq-url.patch.sig
!freeswitch-arch.patch
!freeswitch-arch.patch.sig
!freeswitch.conf.d
!freeswitch.conf.d.sig
!freeswitch.install
!freeswitch.service
!freeswitch.service.sig
!iksemel-double-pointer.patch
!iksemel-double-pointer.patch.sig
!run.freeswitch
!run.freeswitch.sig
!run_log.freeswitch
!run_log.freeswitch.sig
!spandsp-fix.patch
!spandsp-fix.patch.sig
!xmlrpc_constptrs.patch
!xmlrpc_constptrs.patch.sig
