*
!.SRCINFO
!.gitignore
!PKGBUILD
!README.freeswitch
!README.freeswitch.sig
!conf_log.freeswitch
!conf_log.freeswitch.sig
!freeswitch.conf.d
!freeswitch.conf.d.sig
!freeswitch.install
!freeswitch.service
!freeswitch.service.sig
!run.freeswitch
!run.freeswitch.sig
!run_log.freeswitch
!run_log.freeswitch.sig
