*
!.SRCINFO
!.gitignore
!PKGBUILD
!canon-pixma-mg5200-complete-scangear-icon.png
!canon-pixma-mg5200-complete-scangear.desktop
!canon-pixma-mg5200-complete.install
!canon-pixma-mg5200-complete.license
