*
!.SRCINFO
!.gitignore
!PKGBUILD
!grav.install
!grav.patch
!grav.php-fpm.d.grav.conf
!grav.php-fpm.ini
!grav.php-fpm.service.d.override.conf
!grav.sysusers.conf
!grav.tmpfiles.conf
!grav.user.readme
!grav.uwsgi.ini
