*
!.SRCINFO
!.gitignore
!CMakeLists.txt.patch
!PKGBUILD
!porto.install
!porto.service
!porto.sysusers
!src-CMakeLists.txt.patch
!src-api-python-CMakeLists.txt.patch
!src-filesystem.cpp.patch
!src-util-path.hpp.patch
