*
!.SRCINFO
!.gitignore
!0001-Save-registration-file-to-var-lib-hacompanion.patch
!PKGBUILD
!hacompanion.install
!hacompanion.service
!hacompanion.service-user
!hacompanion.sysusers
!hacompanion.tmpfiles
