*
!.SRCINFO
!.gitignore
!0001-Move-aqt_data-to-sys.prefix-share.patch
!0002-Remove-bad-build-steps-from-makefiles.patch
!0003-Compile-.py-s-before-building-wheel.patch
!0004-Disable-auto-updates.patch
!0005-Make-pyenv-target-just-create-venv.patch
!PKGBUILD
