*
!.SRCINFO
!.gitignore
!PKGBUILD
!zelda-classic-zlaunch.desktop
!zelda-classic-zlaunch.png
!zelda-classic-zquest.desktop
!zelda-classic-zquest.png
!zelda-classic.desktop
!zelda-classic.install
!zelda-classic.png
!zelda-classic.sh
