*
!.SRCINFO
!.gitignore
!PKGBUILD
!avoid-undefined-import.diff
!github-pr304-dont-use-deprecated-macro.diff
!github-pr306-distinguish-owned-and-borrowed.diff
!github-pr308-fix-reference-counting-in-set_event_filter.diff
!surface-xs-declare-calc-offset-earlier.diff
