pkgbase = apt
	pkgver = 2.7.3
	pkgrel = 2
	url = https://salsa.debian.org/apt-team/apt
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = git
	makedepends = gtest
	makedepends = w3m
	makedepends = triehash
	makedepends = po4a
	makedepends = xxhash
	makedepends = gnupg
	makedepends = db
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-yaml-tiny
	makedepends = perl-syntax-keyword-try
	makedepends = dpkg
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-unicode-linebreak
	makedepends = perl-pod-parser
	provides = libapt-inst
	provides = libapt-pkg
	provides = libapt-pkg-dev
	provides = apt-utils
	source = https://salsa.debian.org/apt-team/apt/-/archive/2.7.3/apt-2.7.3.tar.bz2
	sha512sums = 32b90bd4df97c805232df0c956003cec374d75a5b0e4cbcfed372698003a02f2342676c4aef8720c0caec63dad174f6b0c4e13d771eee97fc5c2cb09d48b14c7

pkgname = apt
	pkgdesc = Command-line package manager used on Debian-based systems
	depends = systemd-libs
	depends = libseccomp
	depends = perl
	depends = xxhash
	depends = dpkg

pkgname = apt-docs
	pkgdesc = Documentation for apt
	arch = any
