pkgbase = apt
	pkgver = 2.7.0
	pkgrel = 2
	url = https://salsa.debian.org/apt-team/apt
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = git
	makedepends = gtest
	makedepends = w3m
	makedepends = triehash
	makedepends = po4a
	makedepends = xxhash
	makedepends = gnupg
	makedepends = db
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-yaml-tiny
	makedepends = perl-syntax-keyword-try
	makedepends = dpkg
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-unicode-linebreak
	makedepends = perl-pod-parser
	provides = libapt-inst
	provides = libapt-pkg
	provides = libapt-pkg-dev
	provides = apt-utils
	source = https://salsa.debian.org/apt-team/apt/-/archive/2.7.0/apt-2.7.0.tar.bz2
	sha512sums = aec8603b535d0b89007b6a967150f1633900b3f0f3191c85bb84a78ef8069fcd5e838858ad22ba23b8e3c2e29e39d27438b0d23e2edbbdc91d1ca2fdbf3b7f76

pkgname = apt
	pkgdesc = Command-line package manager used on Debian-based systems
	depends = systemd-libs
	depends = libseccomp
	depends = perl
	depends = xxhash
	depends = dpkg

pkgname = apt-docs
	pkgdesc = Documentation for apt
	arch = any
