pkgbase = apt
	pkgver = 2.7.2
	pkgrel = 2
	url = https://salsa.debian.org/apt-team/apt
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = doxygen
	makedepends = git
	makedepends = gtest
	makedepends = w3m
	makedepends = triehash
	makedepends = po4a
	makedepends = xxhash
	makedepends = gnupg
	makedepends = db
	makedepends = perl-text-wrapi18n
	makedepends = perl-locale-gettext
	makedepends = perl-yaml-tiny
	makedepends = perl-syntax-keyword-try
	makedepends = dpkg
	makedepends = perl-term-readkey
	makedepends = perl-sgmls
	makedepends = perl-module-build
	makedepends = perl-unicode-linebreak
	makedepends = perl-pod-parser
	provides = libapt-inst
	provides = libapt-pkg
	provides = libapt-pkg-dev
	provides = apt-utils
	source = https://salsa.debian.org/apt-team/apt/-/archive/2.7.2/apt-2.7.2.tar.bz2
	sha512sums = a6d391b5a8df23bab66640d478b07e737fca35181387d1c4c19735c18f8eb19fa0ed53680ba2ec7f20d80c11b2ea5afe09cd883a85a00131f72f74819a13797c

pkgname = apt
	pkgdesc = Command-line package manager used on Debian-based systems
	depends = systemd-libs
	depends = libseccomp
	depends = perl
	depends = xxhash
	depends = dpkg

pkgname = apt-docs
	pkgdesc = Documentation for apt
	arch = any
