*
!.SRCINFO
!.gitignore
!PKGBUILD
!README
!mautrix-facebook-git-r963.86a9763-1-x86_64-package.log
!mautrix-facebook-git-r963.86a9763-1-x86_64-pkgver.log
!mautrix-facebook-git-r963.86a9763-1-x86_64-prepare.log
!mautrix-facebook-git-r963.86a9763-2-x86_64-pkgver.log
!mautrix-facebook-git-r963.86a9763-2-x86_64-prepare.log
!mautrix-facebook-git-r964.2ab4342-1-x86_64-package.log
!mautrix-facebook.service
!sysusers-mautrix-facebook.conf
!tmpfiles-mautrix-facebook.conf
!usr-share.patch
