*
!.SRCINFO
!.gitignore
!PKGBUILD
!pd-sysusers.conf
!pd-tmpfiles.conf
!pd.service
!pd.toml
!tidb-sysusers.conf
!tidb-tmpfiles.conf
!tidb.install
!tidb.service
!tidb.toml
!tikv-sysusers.conf
!tikv-tmpfiles.conf
!tikv.service
!tikv.toml
