*
!.SRCINFO
!.gitignore
!PKGBUILD
!enchant-2.x.patch
!glib-2.68.0.patch
!grammar.patch
!gtk-doc.patch
!icu59.patch
!icu68.patch
!pkgconfig-enchant-2.patch
!volatile.patch
!webkitgtk-2.4.9-abs.patch
!webkitgtk.install
