*
!.SRCINFO
!.gitignore
!PKGBUILD
!added-a-services-column-in-the-host-table-view-with-filter.patch
!armitage.desktop
!armitage.install
!database.yml
!metasploit.default
!metasploit.png
!metasploit.service
!metasploit.sh
!ui-change-menu-items-list-from-8-to-24.patch
