*
!.SRCINFO
!.gitignore
!ChangeLog
!PKGBUILD
!fix_kvm_emulator.patch
!install.sh.patch
!opennebula-econe.service
!opennebula-novnc.service
!opennebula-oneflow.service
!opennebula-onegate.service
!opennebula-scheduler.service
!opennebula-sunstone.service
!opennebula.conf
!opennebula.install
!opennebula.logrotate
!opennebula.service
