*
!.SRCINFO
!.gitignore
!PKGBUILD
!postgresql-check-db-dir
!postgresql-perl-rpath.patch
!postgresql-run-socket.patch
!postgresql.install
!postgresql.logrotate
!postgresql.pam
!postgresql.service
!postgresql.sysusers
!postgresql.tmpfiles
