*
!.SRCINFO
!.gitignore
!LICENSE
!Makefile
!PKGBUILD
!README.md
!api.c
!api.h
!curses_win.c
!curses_win.h
!gtk_win.c
!gtk_win.h
!main.c
!portfolio.c
!portfolio.h
!rc4.c
!rc4.h
!tick.1
!utils.c
!utils.h
!window_main.glade
