*
!.SRCINFO
!.gitignore
!PKGBUILD
!check_and_create_db.sh
!collate.patch
!create_db_user.sql
!tango-database-init.sh
!tango-database-init.sql
!tango-database.install
!tango-database.service
!tango-db.conf
!timestamp.patch
