*
!mongodb-4.4.29-no-enterprise.patch
!mongodb-4.4.29-redudant-std-move.patch
!.gitignore
!mongodb-4.4.10-boost-1.81.patch
!mongodb.sysusers
!mongodb-4.4.10-boost-1.79.patch
!PKGBUILD
!mongodb-4.4.1-boost.patch
!mongodb-4.4.29-fix-scons.patch
!mongodb-4.4.8-no-compass.patch
!mongodb-4.4.1-gcc11.patch
!mongodb-4.4.15-adjust-cache-alignment-assumptions.patch.arm64
!mongodb-4.4.29-boost-1.86.patch
!.SRCINFO
!mongodb-4.4.10-no-force-lld.patch
!mongodb.tmpfiles
