*
!.SRCINFO
!.gitignore
!LICENSE.txt
!PKGBUILD
!README.md
!SFTransRobotics.ttf
!SFTransRoboticsBold.ttf
!SFTransRoboticsBoldItalic.ttf
!SFTransRoboticsExtended.ttf
!SFTransRoboticsExtendedBold.ttf
!SFTransRoboticsExtendedBoldItalic.ttf
!SFTransRoboticsExtendedItalic.ttf
!SFTransRoboticsItalic.ttf
!SFTransRoboticsSample.jpg
!sf-transrobotics-fonts-ttf.tar.bz2
