*
!.SRCINFO
!.gitignore
!PKGBUILD
!org.freedesktop.ScreenSaver.service
!org.gnome.ScreenSaver.service
!xscreensaver-dbus-screenlock-freedesktop.desktop
!xscreensaver-dbus-screenlock-freedesktop.py
!xscreensaver-dbus-screenlock-gnome.desktop
!xscreensaver-dbus-screenlock-gnome.py
