*
!libuosdevicea.c
!.gitignore
!wechat-universal.install
!PKGBUILD
!fake_dde-file-manager
!wechat-universal.desktop
!fetch_uos_wechat_release.py
!libuosdevicea.Makefile
!.SRCINFO
!wechat-universal.sh
