[Desktop Entry]
Name=MCreator (Early access)
Exec=/usr/bin/mcreator-eap
Terminal=false
Type=Application
Icon=mcreator-eap
StartupWMClass=MCreatorEAP
Comment=Make Minecraft Java Edition mods, Bedrock Edition Add-Ons, and data packs using visual graphical programming or integrated IDE
Categories=Development;IDE;