*
!.SRCINFO
!.gitignore
!0001-bnx2x-Add-support-for-2.5-Gbps-HSGMII-mode.patch
!0002-bnx2x-Handle-DEFINE_SEMAPHORE-for-older-kernels.patch
!0003-bnx2x-Handle-skb_vlan_eth_hdr-for-older-kernels.patch
!0004-bnx2x-Handle-build_skb-helper-for-older-kernels.patch
!PKGBUILD
!dkms.conf
