*
!.SRCINFO
!.gitignore
!PKGBUILD
!dee-1.2.7-deprecated-g_type_class_add_private.patch
!dee-1.2.7-fix-duplicates-vala-0.5X.patch
!dee-1.2.7-fix-g_string_free-usage.patch
!dee-1.2.7-gcc6-fixes.patch
!vapi-skip-properties.patch
