*
!.SRCINFO
!.gitignore
!PKGBUILD
!thanos-compact.conf
!thanos-compact.service
!thanos-downsample.conf
!thanos-downsample.service
!thanos-query-frontend.conf
!thanos-query-frontend.service
!thanos-query.conf
!thanos-query.service
!thanos-rule.conf
!thanos-rule.service
!thanos-sidecar.conf
!thanos-sidecar.service
!thanos-store.conf
!thanos-store.service
!thanos.sysuser
