*
!.SRCINFO
!.gitignore
!2CE6F2743138825B7A7E521D025C02EE3A092F2D.asc
!PKGBUILD
!fix-include.patch
!lokinet-resume.service
!lokinet-vpn@.service
!lokinet.conf
!lokinet.install
!lokinet.rules
!lokinet.service
!lokinet.sysusers
!lokinet.tmpfiles
!notes.txt
