*
!externalpackages.patch
!ffmpeg.patch
!.gitignore
!glew-lib64.patch
!jpegturbo-lib64.patch
!ocio_install_yaml-cpp.patch
!ocio.patch
!oiio.patch
!PKGBUILD
!pyside2-build_scripts.patch
!pyside2.patch
!pyside2-tools-root.patch
!qt5.patch
!.SRCINFO
