*
!0001-00_header-add-GRUB_COLOR_-variables.patch
!0002-10_linux-detect-archlinux-initramfs.patch
!0003-support-dropins-for-default-configuration.patch
!.gitignore
!grub.default
!grub-libzfs.install
!keys/pgp/95D2E9AB8740D8046387FD151A09227B1F435A33.asc
!keys/pgp/BE5C23209ACDDACEB20DB0A28C8189F1988C2166.asc
!keys/pgp/E53D497F3FA42AD8C9B4D1E835A93B74E82E4209.asc
!PKGBUILD
!sbat.csv
!.SRCINFO
