*
!.SRCINFO
!.gitignore
!LICENSE.txt
!LICENSE.txt.sig
!PKGBUILD
!zandronum-server.launcher
!zandronum-server.launcher.sig
!zandronum.desktop
!zandronum.desktop.sig
!zandronum.install
!zandronum.launcher
!zandronum.launcher.sig
!zandronum.png
!zandronum.png.sig
!zandronum3.0.1-linux-x86_64.tar.xz.sig
