*
!.SRCINFO
!.gitignore
!PKGBUILD
!trafficserver.changelog
!trafficserver.install
!trafficserver.lib_perl_Makefile.in.patch
!trafficserver.service.in.patch
!trafficserver.src_tscore_unit_tests.patch
!trafficserver.sysusers
!trafficserver.tmpfiles
