*
!.SRCINFO
!.gitignore
!PKGBUILD
!bctoolbox.patch
!belle-sip.patch
!bzrtp.patch
!fix-qt5_1x.patch
!linphone-desktop.patch
!linphone.desktop
!linphone.patch
!mediastreamer2.patch
!ortp.patch
!v4l-utils.patch
