*
!.SRCINFO
!.gitignore
!0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
!0002-PCI_Add_more_NVIDIA_controllers_to_the_MSI_masking_quirk.patch
!0003-iommu_intel_do_deep_dma-unmapping_to_avoid_kernel-flooding.patch
!0004-Bluetooth_btintel_Fix_bdaddress_comparison_with_garbage_value.patch
!0005-lg-laptop_Recognize_more_models.patch
!PKGBUILD
!config
