*
!.SRCINFO
!.gitignore
!Dockerfile
!PKGBUILD
!build-libusb-and-hidapi.sh
!build-tezos.sh
!docker-static-build.patch
!docker-static-build.sh
!protocols.json
!static_libs.patch
!systemd_sysusers.d_tezos.conf
!tezos-node.service
!tezos-serokell.install
!update-scripts.sh
