*
!0003-gtk-extents.patch
!.nvchecker.toml
!0004-screenshot-launch-fix.patch
!PKGBUILD
!0006-Drop-toggle-shaded-since-it-s-no-longer-included-in-.patch
!0005-no-compile-gschemas.patch
!.SRCINFO
!0007-64-bit-time-t-compat.patch
!.gitignore
!0001-reverse-unity-config.patch
!0002-focus-prevention-disable.patch
!1001-fix-crash-in-vertexbuffer.patch
